<main class="container">
  <div class="flash-messages">
    <div class="flash">
      <%= get_flash(@conn, :info) %>
    </div>
    <div class="flash-error">
      <%= get_flash(@conn, :error) %>
    </div>
  </div>
  HEYYYYOOOO
  <%= @inner_content %>
</main>