<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Linklist" , suffix: " · Phoenix Framework" %>
      <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
      <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
</head>

<body>
  <!-- <header>
    <section class="container">
      <nav>
        <ul>
          <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <li>
              <%= link "LiveDashboard" , to: Routes.live_dashboard_path(@conn, :home) %>
            </li>
            <% end %>
        </ul>
      </nav>
      <a href="https://phoenixframework.org/" class="phx-logo">
        <img src={Routes.static_path(@conn, "/images/phoenix.png" )} alt="Phoenix Framework Logo" />
      </a>
    </section>
  </header> -->
  <div class="Header">
    <div class="Header-item">
      <a href="#" class="Header-link f4 d-flex flex-items-center">
        <span>LinkList</span>
      </a>
    </div>
    <!-- TODO: Add a search bar here -->
    <!-- <div class="Header-item">
      <input type="search" class="form-control Header-input" />
    </div> -->
    <div class="Header-item">
      <a href="#" class="Header-link">Home</a>
    </div>
    <div class="Header-item">
      <a href="#" class="Header-link">Explore</a>
    </div>
    <div class="Header-item">
      <a href="#" class="Header-link">API</a>
    </div>
    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <div class="Header-item">
        <%= link "LiveDashboard" ,to: Routes.live_dashboard_path(@conn, :home) , class: "Header-link" %>
      </div>
      <% end %>
        <div class="Header-item Header-item--full">
          <a href="#" class="Header-link">About</a>
        </div>
        <div class="Header-item mr-0">
          <img class="avatar" height="20" src="https://avatars.githubusercontent.com/u/21206831?v=4" width="20">
        </div>
  </div>
  <%= @inner_content %>
</body>

</html>